<div class="col-md-offset-4">

  <i class="fas fa-accessible-icon"></i>
  <i class="fab fa-accessible-icon"></i>
  <%= fa_icon "twitter" %>
  <%= fa_icon "ambulance 5x horizonta" %>
<h1>Finalorder</h1>

<%= render 'form', finalorder: @finalorder %>

<!-- <%= link_to 'Back', finalorders_path %> -->

</div>
