<h1>Wright down your infromation</h1>
<%= form_for(@customer, :url => {controller: "customers", action: "loginprocess"}) do |c| %>
<!-- ふぁいるぱす指定 -->
  email<%= c.email_field :email %>
  password<%= c.password_field :password %>
  <%= c.submit 'login' %>
<% end %>
